[Unit]
Description=Exporter for machine metrics

[Service]
ExecStart=/usr/sbin/node_exporter
Restart=always
RestartSec=30
Type=simple

[Install]
WantedBy=multi-user.target
